section {

	&#one {
		background-color: #2C3E50;
	}

	&#two {
		background-color: #FC4349;
	}

	&#three {
		background-color: #6DBCDB;
	}

	&#four {
		background-color: #D7DADB;
	}

	&#five {
		background-color: #FFFFFF;
	}

	&#six {
		background-color: #006266;
	}

	.slider {
		
		.slides {

			section {

				&#one {
					background: url('http://www.fillmurray.com/1500/1500') center center;
					background-size: cover;
				}

				&#two {
					background: url('http://www.fillmurray.com/1400/1300') center center;
					background-size: cover;
				}
				&#five {
					background: url('http://www.fillmurray.com/1200/1000') center center;
					background-size: cover;
				}
			}
		}
	}
}