// This sheet isn't as clean as the other. I'll work on cleaning this up soon. It's really just the demo page styling anyway.

$number: 6; // Set your number of slides
$animation_delay: 6; // Adjust your delay. It takes the number of slides and multiplies it by this variable in order to get full duration of the animation.
$inset-text-shadow: 0px -1px 0px #111;

@mixin pre-wrap {
	white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
}

@import "fullpage";
@import "fonts";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

h2 {
	margin-top: 0px;
}

a {
	color: white;
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid white;
	line-height: 1;

	&.icon {
		border-bottom: none;
	}
}

i {
	font-size: 80px;
}

section {

	font-size: 30px;
	color: white;
	text-shadow: $inset-text-shadow;
	font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400;

	.content {

		pre {
			display: inline-block;
			max-width: 80%;
			@include pre-wrap;

			code {
				width: 100%;
				font-size: 20px;
				text-align: left !important;
				line-height: 20px;
				float: left;
				padding: 20px;
				background: whitesmoke;
				text-shadow: none;
				color: black;
				
				.div {
					color: limegreen;
				}

				.class {
					color: violet;
				}

				.variable {
					color: red;
				}

				.comment {
					color: slategray;
				}
			}
		}
	}


	&#one {
		background-color: #2C3E50;
	}

	&#two {
		background-color: #FC4349;
	}

	&#three {
		background-color: #6DBCDB;
	}

	&#four {
		background-color: #00AA8F;
	}

	&#five {
		background-color: #FFFFFF;
	}

	&#six {
		background-color: #006266;
	}

	.slider {
		
		.slides {

			section {

				&#two {
					background-color: #E6A73F;
				}
				&#five {
					background: url('http://www.fillmurray.com/1200/1000') center center;
					background-size: cover;
				}
			}
		}
	}
}